body{
  height: 1500px;
}

.page1{
  background-image: url('../images/about_bg.jpg');
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.inshadow .shadow_o, .inshadow .shadow_c{
  text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
  font-size: 6vw;
  letter-spacing: 15px;
  font-weight: bold;
  color: transparent;
  -webkit-background-clip: text;
  margin-top: 100px;
} 

.shadow_o{
  background-color: #ff5c33;
}

.shadow_c{
  background-color: #1cbea1;
}

.line{
  writing-mode: vertical-lr;
  font-size: 40px;
  font-weight: bold;
  margin: 0px auto;
  padding-bottom: 20px;
  padding-top: 30px;
}

.text-width{
  padding-bottom: 60px;
}

.lh{
  line-height: 32px;
}

strong{
  color: #ff5c33;
}

.orange{
  color: #ff5c33;
}

.page3{
  background-image: url('../images/news_bg.jpg');
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.btn-success{
  border: solid 3px #1cbea1;
  color:#1cbea1;
  padding: 7px 12px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0);
  transition: .5s;
  font-size: 22px;
  font-weight: bold;
}

.btn-success:hover{
  border: solid 3px #1cbea1;
  color:#fff;
  background-color: #1cbea1;
  transition: .5s;
}

.btn-danger{
  border: solid 3px #ff5c33;
  color:#ff5c33;
  padding: 7px 12px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0);
  transition: .5s;
  font-size: 22px;
  font-weight: bold;
}

.btn-danger:hover{
  border: solid 3px #ff5c33;
  color:#fff;
  background-color: #ff5c33;
  transition: .5s;
  cursor: pointer;
}

.mbox{
  padding: 0;
  margin: 0;
  border-top: 5px solid #1cbea1;
  border-bottom: 5px solid #1cbea1;
}

.mbox .close{
  position: absolute;
  color: #fff;
  top: 20px;
  right: 20px;
}

.carousel-caption{
  left: 12%;
  bottom: 25%;
}

.carousel-caption h2{
  text-shadow: rgba(0, 0, 0, 0.5) 3px 3px 7px;
  font-size: 2.7vw;
}

.carousel-caption h4{
  text-shadow: rgba(0, 0, 0, 0.5) 3px 3px 7px;
  line-height: 42px;
}

.btn-white{
  border: solid 3px #fff;
  color:#fff;
  padding: 7px 12px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0);
  transition: .5s;
  font-size: 22px;
  font-weight: bold;
}

.btn-white:hover{
  border: solid 3px #fff;
  color:#1cbea1;
  background-color: #fff;
  transition: .5s;
  cursor: pointer;
}

.tt{
  padding: 17px 0px;
  max-width: 700px;
}

.chart{
  max-width: 650px;
  height: 60%;
  margin: auto;
}

.chat-section{
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 42px;
  min-height: 600px;
  margin-bottom: 30px;
  border: solid 4px #e1e1e1;
}

.chat-box{
list-style-type: none;
font-size: 1.2em;
}

.chat-tit{
  color: teal;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

box{
  display: block;
  border-left: 5px solid teal;
}

.page4{
  background-image: url('../images/board_bg.jpg');
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.tas{
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.white{
  color: #fff
}

.tomato{
  color: tomato;
}

.shop_tb{
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.am{
  display: flex;
  justify-content: center;
  align-items: center;
}